.form-wrapper {
    height: 100%;
    text-align: center;
}

.form-wrapper::before {
    content: ' ';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.reset-password-form {
    padding: 30px;
    display: inline-block;
    box-sizing: border-box;
    width: 85%;
    vertical-align: middle;
    margin-left: -0.35em;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 14px gray;
}

@media screen and (min-width: 400px) {
    .reset-password-form {
        width: 340px;
    }
}

.reset-password-form * {
    text-align: left;
}

.reset-password-form .heading {
    margin-top: 0;
}

.reset-password-form .save-form-field {
    text-align: center;
    padding-bottom: 0;
}
